*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://www.shutterstock.com/image-photo/night-sky-moon-light-dramatic-600nw-2376286503.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    border: 3px solid rgba(255, 255, 255, alpha);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    color: white;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 2em;
}
.form-group{
    position: relative;
   
    width: 330px;
    margin: 30px 0;
    border-bottom: 3px solid white;
}
.form-group input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: white;
    padding: 0 30px 0 10px;
   
}
.form-group label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: white;
    transition: 0.5s;

}
.form-group span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: white;
    
}
.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label {
    top: -5px;
}
p{
    text-align: center;
    color: white;
    padding: 10px 0;
}
p>a{
     color: white;
     text-decoration: none;
     font-weight: 600;

}
p>a:hover{
    text-decoration: underline;
    font-style: italic;
}
#btn{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

#btn:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
@media(max-width: 480px) {
    .container {
        padding: 30px 15px;
    }
    h2 {
        font-size: 1.5em;
    }
}

